section > .section-title {
    position: relative;

    color: #fff;
    font-weight: bold;
    margin: 0.5em auto;
    text-align: center;
    text-transform: uppercase;
}

section > .section-title:after {
    content: "";

    width: 50%;

    position: absolute;
    top: 100%;
    left: 25%;

    border-top: 3px solid #fff;
    margin: 0 auto;
}

section .view-more-button {
    margin: 1em 0 1em auto;
}